name: Deploy Node Docker App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build Docker image
      run: docker build -t node-app .

    - name: Deploy to Azure VM
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.VM_SSH_KEY }}
        script: |
          docker stop node-app || true
          docker rm node-app || true
          docker build -t node-app .
          docker run -d -p 3000:3000 --name node-container node-app
